Language: Cpp
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
BasedOnStyle: LLVM
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentFunctionDeclarationAfterType: false
IndentWidth: 4
AccessModifierOffset: 0
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignOperands: true
Cpp11BracedListStyle: false
ForEachMacros: ['r_list_foreach', 'ls_foreach', 'fcn_tree_foreach_intersect', 'r_skiplist_foreach', 'graph_foreach_anode']
SortIncludes: false
BinPackArguments: false
InsertTrailingCommas: Wrapped
