/*
 * Copyright (c) 2025 RBR Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		rbr,instrument = &usart3;
	};
};

&dma1 {
	status = "okay";
};

&usart3 {
	status = "okay";

	fifo-enable;

	dmas = <&dma1 2 2 (STM32_DMA_MODE_NORMAL | STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_MEDIUM)>,
	       <&dma1 3 2 (STM32_DMA_MODE_CYCLIC | STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_MEDIUM)>;
	dma-names = "tx", "rx";

	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";

	current-speed = <115200>;
};
