# Copyright (c) 2026 RBR Ltd.
# SPDX-License-Identifier: Apache-2.0

# Generated artifacts.
posix-download
posix-download-wifi
posix-fetch
posix-parse-download
posix-parse-download-dataset
posix-parse-file
posix-parse-file-dynamiccorrection
posix-pauseresume
posix-postprocessing
posix-stream
posix-stream-dynamiccorrection
posix-stream-sdl
*.exe

# Temporary/output files.
*.bin
