# Generated artifacts.
posix-communications
posix-download-datablock-bySchedule
posix-footprint
posix-generation
posix-multiScheduleDiffConfig
posix-poll
posix-singleScheduleSingleConfig
posix-stream
*.exe
*.o

# Temporary/output files.
*.bin
